/* ======================
	Flex Container
======================== */


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-nav {
  padding: 10px 20px;
  text-align: center;
}

.flex-item {
  padding: 5px;
  width: 290px;
  margin-top: 10px;
  text-align: center;
}

.flex-item img {
	width: 100%;
}

/* =======================
	Media Queries
========================= */

@media (min-width: 768px) {

	.flex-container {
		width: 95%;
		margin: 0 auto;
	}

	.flex-item {
		padding: 0;
	  	width: 350px;
	  	height: 375px;
	  	font-size: 1.02em;
	}
}

@media (min-width: 1024px) {

	.flex-item {
		width: 285px;
		height: 325px;
	}

}